<!DOCTYPE html>
<html>
  <head>
    <title>Download PDF</title>
  </head>
  <body>
    <h2>Your PDF is ready</h2>
    <a href="<%= path %>" download>Click here to download</a>
  </body>
</html>
