<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OTP Verification</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        background-color: #f5f7fa;
        font-family: "Segoe UI", sans-serif;
      }
      .form-container {
        max-width: 450px;
        margin: auto;
        padding: 40px;
        background: white;
        border-radius: 12px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
      }
    </style>
  </head>
  <body>
    <div class="container py-5">
      <div class="form-container">
        <h4 class="text-center text-primary mb-4">Set new Password</h4>
        <form action="/api/auth/reset-passwordOTP" method="POST">
          <!-- Email -->
          <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Enter your email"
              required
            />
          </div>

          <!-- OTP -->
          <div class="mb-3">
            <label for="otp" class="form-label">Enter OTP</label>
            <input
              type="text"
              class="form-control"
              id="otp"
              name="otp"
              placeholder="Enter 4-digit OTP"
              maxlength="4"
              required
            />
          </div>

          <div class="mb-3">
            <label for="newPassword" class="form-label"
              >Enter New Password</label
            >
            <input
              type="newPassword"
              class="form-control"
              id="newPassword"
              name="newPassword"
              placeholder="Enter new password"
              required
            />
          </div>
          <div class="mb-3">
            <label for="confirm_password" class="form-label"
              >Enter Confirm Password</label
            >
            <input
              type="text"
              class="form-control"
              id="confirm_password"
              name="confirm_password"
              placeholder="Enter confirm password"
              required
            />
          </div>

          <div class="d-grid">
            <button type="submit" class="btn btn-primary">Verify</button>
          </div>
        </form>

        <!-- <div class="text-center mt-3">
          <small
            >Didn't receive OTP?
            <a href="/resend-otp" class="text-decoration-none">Resend</a></small
          >
        </div> -->
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
